<!DOCTYPE html>

@{
    var loaded = DateTime.Now;
}

<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.timeago.js")" type="text/javascript"></script>
        <script type="text/javascript">
$(function() {
    $("abbr.timeago").timeago();

    $("#mainmenu").hide();

    $("#mainmenuicon").click(function() {
        $("#mainmenu").toggle();
    });
});
        </script>
    </head>
    <body>
        <div class="page">
            <div id="header">
                <div id="title">
                    <span id="mainmenuicon"></span>
                    <h1>Dahlia</h1>
                </div>

                <ul id="mainmenu" class="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <hr />
                    <li>@Html.ActionLink("Schedule a Retreat", "New", "Retreat")</li>
                    <li>@Html.ActionLink("Manage Retreats", "Index", "ManageRetreats")</li>
                    <hr />
                    <li>@Html.ActionLink("Register a Participant", "New", "Participant")</li>
                    <li>@Html.ActionLink("View Participants", "List", "Participant")</li>
                    <hr />
                    <li>@Html.ActionLink("Events Timeline", "Events", "Timeline")</li>
                </ul>
            </div>

            <div id="main">
                @RenderBody()
            </div>

            <div id="footer">
                This page loaded <abbr class="timeago" title="@loaded">@loaded</abbr>.
            </div>
        </div>
    </body>
</html>
