<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.timeago.js")" type="text/javascript"></script>
        <script type="text/javascript">
$(function() {
    $("abbr.timeago").timeago();
});
        </script>
    </head>
    <body>
        <div class="page">
            <div id="header">
                <div id="title">
                    <h1>Dahlia</h1>
                </div>

                <div id="menucontainer">
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Schedule a Retreat", "New", "Retreat")</li>
                        <li>@Html.ActionLink("Add a Participant", "New", "Participant")</li>
                        <hr />
                        <li>@Html.ActionLink("View Participants", "List", "Participant")</li>
                    </ul>
                </div>
            </div>

            <div id="main">
                @RenderBody()
            </div>

            <div id="footer">
                @Html.Action("Pending", "Home")
            </div>
        </div>
    </body>
</html>
