@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Participants";
}

<ul class="listbox participants">
@foreach (var participant in Model)
{
    <li>
        <span class="title">@participant.Name</span>
        <span class="itemmenuicon" participantid="@participant.Id"></span>
        <div>@participant.Note</div>
    </li>
}
</ul>

<ul class="menu itemmenu">
    <li>@Html.ActionLink("Rename", "Ren", new { id = "temp" })</li>
    <li>@Html.ActionLink("Make a snapshot", "Snapshot", new { id = "temp" })</li>
    <li>@Html.ActionLink("Unregister", "Unregister", new { id = "temp" })</li>
</ul>

<script type="text/javascript">
$(function() {
    $(".itemmenu").hide();

    $(".itemmenuicon").click(function() {
        var thisOffset = $(this).offset();
        var targetOffset = { top: thisOffset.top + 15, left: thisOffset.left };

        var itemMenuOffset = $(".itemmenu").offset();

        if (itemMenuOffset.top == targetOffset.top && itemMenuOffset.left == targetOffset.left)
            $(".itemmenu").toggle();
        else {
            $(".itemmenu").show();
            $(".itemmenu").offset(targetOffset);

            var links = $(".itemmenu").find("a");

            var i = 0, link;
            for ( ; link = links[i++]; ) {
                link.href = link.href.substr(0, link.href.lastIndexOf("/") + 1) + this.getAttribute("participantid");
            }
        }
    });
});
</script>

