@{
    ViewBag.Title = "Rename a Participant";
}

<h2>Rename a Participant</h2>

@using (Html.BeginForm("Rename", "Participant"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter the info</legend>

        <div class="editor-label">
            @Html.Label("Name")
        </div>
        <div class="editor-field">
            @Html.Editor("Name")
        </div>

        <p>
            @Html.Hidden("Id")
            <input type="submit" value="Rename" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
