@{
    ViewBag.Title = "Add a Participant";
}

<h2>Add a Participant</h2>

@using (Html.BeginForm("AddParticipantTo", "Retreat"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter the info</legend>

        <div class="editor-label">
            @Html.Label("ParticipantId")
        </div>
        <div class="editor-field">
            @Html.Editor("ParticipantId")
        </div>

        <p>
            @Html.Hidden("Id")
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Current")
</div>
