@model dynamic

@{
    ViewBag.Title = "Retreats";

    var beds = Enumerable.Range(1, 6).Select(i => "bed " + i);
    var partics = Enumerable.Range(1, 2).Select(i => new { ParticipantId = -1, ParticipantName = "partic " + i, BedName = "bed -1" });
}

@Html.Action("Current", "Retreat", new { selected = Model.Id })

<h2>@Model.Description</h2>
<ul class="actions">
    <li>@Html.ActionLink("Add Participant", "AddPartic", new { id = Model.Id })</li>
</ul>

<ul class="inARetreat">
    <li class="inARetreatContainer">
        <ul class="listbox participantsInARetreat">
@foreach (var participant in partics)
{
            <li>
                <span class="title">@participant.ParticipantName</span>
                <span class="itemmenuicon" participantid="@participant.ParticipantId" subset="assigned"></span>
                <div>@participant.BedName</div
            </li>
}
        </ul>
    </li>
    <li class="inARetreatContainer">
        <ul class="listbox participantsInARetreat">
@foreach (var participant in Model.WaitListParticipants)
{
            <li>
                <span class="title">@participant.ParticipantName</span>
                <span class="itemmenuicon" participantid="@participant.ParticipantId" subset="waitlist"></span>
            </li>
}
        </ul>
    </li>
    <li class="inARetreatContainer">
        <ul class="listbox bedsInARetreat">
@foreach (var bed in beds)
{
            <li>@bed</li>
}
        </ul>
    </li>
</ul>

<ul class="menu itemmenu">
    <li class="assigned">@Html.ActionLink("Unassign (put back on wait list)", "Unassign", new { id = @Model.Id, participantId = "temp" })</li>
    <li class="assigned">@Html.ActionLink("Unassign (and remove from wait list)", "UnassignAndRemove", new { id = @Model.Id, participantId = "temp" })</li>
    <li class="waitlist">@Html.ActionLink("Assign", "Ass", new { id = @Model.Id, participantId = "temp" })</li>
    <li class="waitlist">@Html.ActionLink("Remove From Wait List", "RemoveParticipantFrom", new { id = @Model.Id, participantId = "temp" })</li>
</ul>

<script type="text/javascript">
$(function() {
    $(".itemmenu").hide();

    $(".itemmenuicon").click(function() {
        var thisOffset = $(this).offset();
        var targetOffset = { top: thisOffset.top + 15, left: thisOffset.left };

        var itemMenuOffset = $(".itemmenu").offset();

        if (itemMenuOffset.top == targetOffset.top && itemMenuOffset.left == targetOffset.left)
            $(".itemmenu").toggle();
        else {
            $(".itemmenu").show();
            $(".itemmenu").offset(targetOffset);

            var links = $(".itemmenu").find("a");

            var i = 0, link;
            for ( ; link = links[i++]; ) {
//                link.href = link.href.substr(0, link.href.lastIndexOf("/") + 1) + this.getAttribute("participantid");
                link.href = link.href.substr(0, link.href.lastIndexOf("=") + 1) + this.getAttribute("participantid");
            }

            $(".itemmenu li").hide();
            $("." + this.getAttribute("subset")).show();
        }
    });
});
</script>
