@model dynamic

@{
    ViewBag.Title = "Retreats";
}

<p>
    @Html.Action("Current", "Retreat", new { selected = Model.Id })

    <h2>@Model.Description</h2>
    <ul class="actions">
        <li>@Html.ActionLink("Reschedule", "Res", new { id = Model.Id })</li>
        <li>@Html.ActionLink("Rename", "Ren", new { id = Model.Id })</li>
        <li>@Html.ActionLink("Cancel", "Cancel", new { id = Model.Id })</li>
    </ul>
</p>
