@{
    ViewBag.Title = "Schedule a Retreat";
}

<h2>Schedule a Retreat</h2>

@using (Html.BeginForm("Schedule", "Retreat"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter the info</legend>

        <div class="editor-label">
            @Html.Label("Date")
        </div>
        <div class="editor-field">
            @Html.Editor("Date")
        </div>

        <div class="editor-label">
            @Html.Label("Description")
        </div>
        <div class="editor-field">
            @Html.Editor("Description")
        </div>

        <p>
            <input type="submit" value="Schedule" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Current")
</div>
