@model Dahlia.ViewModels.RetreatViewModel

@{
    ViewBag.Title = "Schedule a Retreat";
}

<h2>Schedule a Retreat</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Retreat"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enter the info</legend>

        <div class="editor-label">
            @Html.LabelFor(vm => vm.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(vm => vm.Date)
            @Html.ValidationMessageFor(vm => vm.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(vm => vm.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(vm => vm.Description)
            @Html.ValidationMessageFor(vm => vm.Description)
        </div>

        <p>
            <input type="submit" value="Schedule" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Current")
</div>
